<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <div>
            <h2>Signup</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </body>
</html>